body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fondo {
  background-image: url(../images/Fondonew.png);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; /* Esto evita el scroll */
}

  /* stylesBase.css u otro archivo de estilos */
.bg-blue {
  background-color: #01152a  !important;
}

.btn-personalizado {
  color: white !important;
  border:none; /* Cambia el color del texto a blanco */
} 

footer {
  background-color: #01152a;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}