.Set_Botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

  
.Operaciones {
  background-color: #01152a; /* Cambia el color de fondo del botón según tus preferencias */
  color: rgb(255, 255, 255); /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.btn-operaciones{
  width: 200px; /* Ancho aumentado para hacerlos más cuadrados */
  height: 400px; /* Altura deseada */
  display: flex; /* Esto ayuda a centrar la imagen dentro del botón */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen */
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  }
  

.Botones button {
  background-color: #01152a; /* Cambia el color de fondo del botón según tus preferencias */
  color: white; /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.Botones button img {
  width: 50px; /* Ancho aumentado para hacerlos más cuadrados */
  height: 50px; /* Altura deseada */
  display: block; /* Esto ayuda a centrar la imagen dentro del botón */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen */
}
.Botones button br {
  content: " ";
  display: block;
  margin: 5px 0; /* Ajusta el espacio entre la imagen y el texto según tus preferencias */
}
