.Set_Botones{
  align-items: center;
}

.Operaciones{
  background-color: #01152a; /* Cambia el color de fondo del botón según tus preferencias */
  color: rgb(255, 255, 255); /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  
}
.btn-operaciones{
  width: 200px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: 400px; /* Ajusta la altura de la imagen según tus preferencias */
  display: block; /* Esto ayuda a centrar la imagen dentro del botón */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen */
  color: rgb(255, 255, 255);
}

.Botones button {
  background-color: #01152a; /* Cambia el color de fondo del botón según tus preferencias */
  color: white; /* Cambia el color del texto del botón según tus preferencias */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.Botones button img {
  width: 50px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: 50px; /* Ajusta la altura de la imagen según tus preferencias */
  display: block; /* Esto ayuda a centrar la imagen dentro del botón */
  margin: 0 auto; /* Esto también ayuda a centrar la imagen */
}

.Botones button br {
  content: " ";
  display: block;
  margin: 5px 0; /* Ajusta el espacio entre la imagen y el texto según tus preferencias */
}
