{% load static %}

<!-- templates/html/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}">
    {% block module_styles %}{% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- hojas de estilo CSS si es necesario -->
</head>
<body>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="container">
            <a class="navbar-brand mr-auto" href="#">
                <img src="{% static 'images/logopng.png' %}" alt="" width="100" height="100">
            </a>
            <!-- button -->
            <div class="btn-group">
                <button type="button" class="btn btn-personalizado dropdown-toggle text_white" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- CAMBIAR PARA QUE SE LEA DESDE LA BASE DE DATOS -->
                    {{ nombre_usuario }}
                </button>                    
                
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'erp:logout' %}">Cerrar sesión</a></li>
                </ul>
            </div>                
        </div>               
    </nav>

    <!-- Fondo -->
    <div class="fondo">
        {% block content %}{% endblock %}
    </div>

    <!-- Pie de página -->
    <footer class="text-center mt-5 ">
        <p>© 2023 Maritime Services SpA. Los derechos reservados por KodeThree.</p>
    </footer>

    <!-- Enlace a scripts específicos del módulo -->
    {% block module_scripts %}{% endblock %}

    <!-- Aquí los scripts de JavaScript -->
    <script src="{% static 'js/scriptBase.js' %}"></script>
     
    <!-- Scripts de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
