{% extends 'html/base.html' %}

{% block title %}
  Ficha Personal
{% endblock %}

{% block module_styles %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesPersonal.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}" />
{% endblock %}

{% block content %}
<form id="" method="post" action="{% url 'erp:nueva_fichaPersonal' %}">

    <h1>Ficha de Ingreso del Personal</h1>
    <div class="imagen-container">
        <img src="{% static 'images/lineaRoja.png' %}">
    </div>

    <div class="section">
            <input type="text" class="textbox" id="apellidoPaterno" placeholder="Apellido Paterno">
            <input type="text" class="textbox" placeholder="Apellido Materno">
            <input type="text" class="textbox" placeholder="Nombres">
            <input type="text" class="textbox" placeholder="Rut">

            <!-- Selector desplegable para Estado Civil -->
            <select class="textbox" id="estadoCivil">
                <option value="estadoCivil">Selecciona Estado Civil</option>
                <option value="Soltero">Soltero</option>
                <option value="Casado">Casado</option>
                <option value="Viudo">Viudo</option>
            </select>

            <input type="text" class="textbox" placeholder="Nacionalidad">
            <input type="text" class="textbox" placeholder="Dirección">
            <input type="text" class="textbox" placeholder="Comuna">
            <input type="text" class="textbox" placeholder="Correo Electrónico">
            <input type="text" class="textbox" placeholder="Celular">

            <!-- Calendario para Fecha de Nacimiento -->
            <input type="date" class="textbox" id="fechaNacimiento">
    </div>

    <div class="section">
        <h2>Antecedentes Previsionales</h2>
    <div class="subCasoEmergencia">
        <img src="{% static 'images/lineaRoja.png' %}">
    </div>
    <input type="text" class="textbox" placeholder="AFP">
    <input type="text" class="textbox" placeholder="Salud">
    <input type="text" class="textbox" placeholder="Otros">
</div>
    </div>

    <div class="section">
        <h2>Antecedentes Bancarios</h2>
        <div class="subrayadoAntecedentes">
            <img src="{% static 'images/lineaRoja.png' %}">
        </div>
        <input type="text" class="textbox" placeholder="Tipo de Cuenta">
        <input type="text" class="textbox" placeholder="Nº de Cuenta">
        <!-- Selector desplegable para Banco -->
        <select class="textbox" id="banco">
            <option value="">Selecciona Banco</option>
            <option value="BCI">BCI</option>
            <option value="Banco Estado">Banco Estado</option>
        </select>
    </div>

    <div class="section">
        <h2>Contacto en Caso de Emergencia</h2>
        <div class="subCasoEmergencia">
            <img src="{% static 'images/lineaRoja.png' %}">
        </div>
        <input type="text" class="textbox" placeholder="Nombre y Apellido">
        <input type="text" class="textbox" placeholder="Celular">
        <input type="text" class="textbox" placeholder="Parentesco">
    </div>
    <div class="section">
        <h2>Hijos</h2>
        <img src="Capa 11.png">
        <table id="TablaHijos">
            <thead style="background-color: transparent;">
                <tr>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Nombres</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Sexo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Hijo/a</td>
                    <td><input type="text" class="textbox rut" placeholder="Rut"></td>
                    <td><input type="text" class="textbox apellidoPaterno" placeholder="Apellido Paterno"></td>
                    <td><input type="text" class="textbox" placeholder="Apellido Materno"></td>
                    <td><input type="text" class="textbox" placeholder="Nombres"></td>
                    <td><input type="date" class="textbox" placeholder="Fecha de Nacimiento"></td>
                    <td>
                        <select class="textbox" id="sexo">
                            <option value="">Selecciona Sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button id="agregarHijo">Agregar</button>

        <script>
            document.getElementById('agregarHijo').addEventListener('click', function () {
                const table = document.getElementById('TablaHijos').getElementsByTagName('tbody')[0];
                const newRow = table.insertRow(table.rows.length - 1);

                const cells = [];
                for (let i = 0; i < 8; i++) { // Aumenta el valor de 8 para la nueva columna
                    cells.push(newRow.insertCell(i));
                    if (i === 0) {
                        cells[i].innerHTML = 'Hijo/a';
                    } else if (i === 7) { // Cambia el valor de 7 para la nueva columna
                        const select = document.createElement('select');
                        select.className = 'textbox';
                        select.id = 'sexo';
                        const options = ['Selecciona Sexo', 'Masculino', 'Femenino'];
                        options.forEach((optionText) => {
                            const option = document.createElement('option');
                            option.value = optionText;
                            option.text = optionText;
                            select.appendChild(option);
                        });
                        cells[i].appendChild(select);
                    } else {
                        const input = document.createElement('input');
                        input.type = 'text';
                        input.className = `textbox ${i === 1 ? 'rut' : 'apellidoPaterno'}`;
                        if (i === 1) {
                            input.placeholder = 'Rut';
                        } else if (i === 2) {
                            input.placeholder = 'Apellido Paterno';
                        } else if (i === 3) {
                            input.placeholder = 'Apellido Materno';
                        } else if (i === 4) {
                            input.placeholder = 'Nombres';
                        } else if (i === 5) {
                            input.type = 'date';
                            input.placeholder = 'Fecha de Nacimiento';
                        }
                        cells[i].appendChild(input);
                    }
                }
            });
        </script>
    </div>

    <div class="section">
        <h2>Solicitud EPP</h2>
        <table id="tablaElementos">
            <thead style="background-color: transparent;">
                <tr>
                    <th>Talla Polera</th>
                    <th>Talla Pantalon</th>
                    <th>Calzado Seguridad</th>
                    <th>Talla Overol</th>
                    <th>Talla Traje de Agua</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="textbox" id="Talla Polera">
                        <option value="TallaPolera">Selecciona Talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        </select>
                    </td>
                    <td>
                        <select class="textbox" id="Talla Pantalon">
                        <option value="TallaPantalon">Selecciona Talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        </select>
                    </td> 
                    <td><input type="number" class="textbox" placeholder="Calzado"></td>
                    <td>
                        <select class="textbox" id="Talla Overol">
                        <option value="TallaOverol">Selecciona Talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        </select>
                    </td>
                    <td>
                        <select class="textbox" id="Talla Traje de Agua">
                        <option value="TallaTraje">Selecciona Talla</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section">
        <h2>Documentación Adjuntada</h2>
        <img src="{% static 'images/lineaRoja.png' %}">
    </div>

    <div class="document-box">
        <input type="file" id="file-input" accept=".pdf, .doc, .docx">
        <label for="file-input" class="custom-file-upload">
            Seleccionar documento
        </label>
        <div id="file-name"></div>
        <ul id="document-list"></ul>
    </div>

    <script src="scriptdocumento.js"></script>

    <h3></h3>
    <button type="submit" id="GuardarFicha">Guardar Ficha</button>

</form>
{% endblock %}

{% block module_scripts %}
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/scriptPersonal.js' %}"></script>
{% endblock %}
