{% extends 'html/base.html' %}

{% block title %}Gestor del Personal{% endblock %}

{% block module_styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesGestorPersonal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesBase.css' %}">
{% endblock %}

{% block content %}

<section class="py-4">
    <div class="container-md px-4 d-flex justify-content-center align-items-center">
        <div class="row">              
            <div class="col-md-6 col-lg-6">                                           
                <img src="{% static 'images/RRHH.png' %}" alt="Texto alternativo de la imagen"> 
                <br>                                         
                <span style="color: white;">Personal</span>                            
            </div>         
        </div> 
    </div>    
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" onclick="window.location.href='{% url 'erp:nueva_fichaPersonal' %}'"> + Agregar ficha</button>
                <input class="bg-personalizado rounded-pill" type="text" id="Buscar" placeholder="   Buscar" style="color: #ffffff; background-color: #01152a; border: none; margin-left: 1.2%;">
            </div>

            <div class="col"> </div>        
            <div class="col">
                <div class="form-floating ">
                    <select class="form-select w-50 bg-personalizado" id="floatingSelect" aria-label="Floating label select example" style="color: #ffffff; background-color: #01152a;">
                    <option value="1">Nombre</option>
                    <option value="2">Rut</option>
                    <option value="3">Estado</option>
                    </select>
                    <label for="floatingSelect" style="color: #ffffff;">Filtrar</label>                            
                </div>                        
            </div>   
                            
                                              
        </div>
    </div>        
</section>

<div class="container">
    <div class="row">                
        <div class="p-3 " style="width: 100%; height: 60vh; background-color: #01152a;">
            <div class="d-flex flex-column h-100 w-100">
              <div class="card-body flex-grow-1" style="color: white;">
                <table class="table " style="color: white; width: 100%;">
                  <thead class="bg-danger">
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Acción</th>
                    <th>Estado</th>
                  </thead>
                  <tbody>
                    <tr data-correo="2">
                      <td>SANCHEZ SANCHEZ ALEXIS ALEJANDRO</td>
                      <td>20.234.567-8</td>
                      <td>
                        <!--<a href="" target="_blank">Ver perfil</a> -->
                        <a href="" target="_blank">Eliminar</a>
                      </td>
                      <td>
                        <body>
                            <button class="btn btn-circle" style="width: 50px; height: 50px; border-radius: 50%; background-color: green;" id="miBoton">
                            </button>
                        </body>
                          <script>
                            const boton = document.getElementById("miBoton");
                            boton.addEventListener("click", function() {
                            switch (boton.style.backgroundColor) {
                                case "green":
                                boton.style.backgroundColor = "yellow";
                                break;
                                case "yellow":
                                boton.style.backgroundColor = "red";
                                break;
                                case "red":
                                boton.style.backgroundColor = "green";
                                break;
                            }
                            });
                          </script>                                                    
                      </td>
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
    
</div>    

{% endblock %}

{% block module_scripts %}
    <!-- Scripts específicos de la página de menú -->
    <script src="{% static 'js/scriptGestorPersonal.js' %}"></script>
{% endblock %}
